html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* =================================== */

html {
    --background: rgba(255, 255, 255, 0.95);
    --textColor: black;
    --subText: gray;
    --background-img-url: url(./assets/background/fuji-day-1.jpg);
    --block-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
    --btn-check-shadow: -2px 2px 2px 0px rgba(67, 67, 67, 0.6);
    --btn-shadow: -2px 2px 2px 0px rgba(67, 67, 67, 0.1);
    --show-answer: rgba(212, 212, 212, 0.527);
}
html.dark {
    /* --background: rgba(1, 63, 113, 0.95); */
    --background: rgba(1, 61, 94, 0.95);
    --textColor: white;
    --subText: gray;
    --background-img-url: url(./assets/background/fuji-night.jpg);
    --block-shadow: 0 0 20px 3px rgba(251, 251, 251, 0.1);
    --btn-check-shadow: -2px 2px 2px 0px rgba(222, 222, 222, 0.6);
    --btn-shadow: -2px 2px 2px 0px rgba(255, 255, 255, 0.1);
    --show-answer: rgba(30, 50, 57, 0.622);
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1.6rem;
}

.body-wrap {
    width: min(95vw, 1000px);
    margin: 30px auto;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 1px rgb(233, 83, 83);
}

.header img {
    width: 100px;
    filter: drop-shadow(3px 2px 3px rgba(206, 97, 97, 1));
    user-select: none;
}

.hidden {
    display: none !important;
}

/*  ================= */

.background {
    background-image: var(--background-img-url);
    background-position: top;
    position: fixed;
    inset: 0 0 0 0;
    overflow: scroll;
}

.background::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* .background::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.background::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.background::-webkit-scrollbar-thumb:hover {
    background: #555; 
}  */

/* =================== 
{
    filterBlock: `filterzy-block`,
    filterTitle: `filterzy-title`,
    filterLabel: `filterzy-label`,
    filterSubmitButton: `filterzy-submit-btn`,
    filterCancelButton: `filterzy-cancel-btn`,
    filterRequired: `filterzy-required`,
},

    quizBlock: `quizzy-block`,
    quizImg: `quizzy-img`,
    quizQuestion: `quizzy-question`,
    quizUserAnswer: `quizzy-userAnswer`,
    quizCorrectAnswer: `quizzy-correctAnswer`,
    quizAnswers: `quizzy-answers`,
    quizAnswer: `quizzy-answer`,
    quizDelete: `quizzy-delete`,
    quizSubmit: `quizzy-submit`,
*/

.quizBoard {
    background-color: transparent;
}

.filterzy,
.show-results {
    position: relative;
    padding: 25px;
    border-radius: 10px;
    box-shadow: var(--block-shadow);
    margin: 20px 0;
    background-color: var(--background);
}
.filterzy {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.filterzy-block {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
    position: relative;
}

.filterzy-block.filterzy-required .filterzy-title::after {
    content: "| *";
    font-style: italic;
    font-size: 1.4rem;
    color: tomato;
}

.filterzy-title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: var(--textColor);
}

.filterzy-label {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 13px 25px;
    border-radius: 8px;
    border: 1px solid;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.1s;
    opacity: 0.5;
    user-select: none;
    color: var(--textColor);
}

.filterzy-label:has(:checked) {
    border-color: rgb(97, 182, 97);
    color: var(--background);
    background-color: rgb(97, 182, 97);
    opacity: 1;
    box-shadow: var(--btn-check-shadow);
    color: white;
}

.filterzy-submit-btn,
.filterzy-cancel-btn {
    background-color: transparent;
    padding: 12px 15px;
    border: 0;
    margin-top: 20px;
    font-size: 2rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: var(--background);
    background-color: rgb(254 109 112);
    box-shadow: var(--btn-check-shadow);
    user-select: none;
    color: white;
}
.filterzy-cancel-btn {
    margin-left: auto;
}

/* 
    quizBlock: `quizzy-block`,
    quizImg: `quizzy-img`,
    quizQuestion: `quizzy-question`,
    quizUserAnswer: `quizzy-userAnswer`,
    quizCorrectAnswer: `quizzy-correctAnswer`,
    quizAnswers: `quizzy-answers`,
    quizAnswer: `quizzy-answer`,
    quizDelete: `quizzy-delete`,
    quizSubmit: `quizzy-submit`,

*/

.quizzy-block {
    position: relative;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding: 20px;
    margin: 0 auto 50px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px rgba(67, 67, 67, 0.6);
    background-color: var(--background);
}

.quizzy-question {
    font-size: 2rem;
    flex-basis: 100%;
    flex-shrink: 0;
    padding: 11px 15px 10px;
    border: 1px solid rgb(110, 110, 110);
    color: var(--textColor);
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 150%;
}

.quizzy-userAnswer {
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-basis: 70%;
    flex-grow: 1;
    min-height: 40px;
    padding: 8px 15px;
    border-left: 1px solid gray;
    margin-right: 2px;
    margin-top: 3px;
    background-color: var(--show-answer);
    color: var(--textColor);
    font-size: 2.4rem;
    font-weight: 600;
}
.incorrect.quizzy-userAnswer::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url(./assets/icon/cross-close-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.correct.quizzy-userAnswer::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url(./assets/icon/check-mark-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.incorrect.quizzy-userAnswer ~ .quizzy-answers,
.correct.quizzy-userAnswer ~ .quizzy-answers {
    opacity: 0.2;
}

.quizzy-correctAnswer.show {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    padding: 8px 15px;
    border-left: 1px solid rgb(93, 158, 91);
    margin-bottom: 3px;
    background-color: rgba(132, 217, 129, 0.6);
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--textColor);
}

.quizzy-delete {
    flex-grow: 1;
    padding: 5px 10px;
    border: 0;
    background-color: rgba(255, 99, 71, 0.85);
    color: var(--background);
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 3px;
    font-weight: 600;
    color: white;
}

.quizzy-answers {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-shrink: 0;
    font-size: 3rem;
    margin-top: 10px;
}

.quizzy-answer {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.7);
    color: var(--textColor);
}

.quizzy-answer:has(:checked) {
    border-color: rgb(97, 182, 97);
    color: var(--background);
    background-color: rgb(97, 182, 97);
    opacity: 0.8;
    box-shadow: var(--btn-check-shadow);
}

.quizzy-submit {
    color: var(--background);
    background-color: rgba(255, 99, 71, 0.9);
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

/* .scrollToHead  */

.scrollToHead {
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 30px;
    height: 80px;
    width: 80px;
    background-color: transparent;
    border: 1px solid rgba(255, 99, 71, 0.8);
    border-radius: 50%;
    font-size: 3.5rem;
    cursor: pointer;
    opacity: 0.7;
}
.scrollToHead img {
    width: 50%;
    height: 50%;
}

/* ============================= */
/* show results */

.show-results__score {
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 20px;
    color: var(--textColor);
}

.show-results__messages {
    margin: 15px 0;
}

.show-results__subtitle {
    margin-bottom: 8px;
}

.show-results__action {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    flex-wrap: wrap;
}

.examLink,
.show-results__clear,
.show-results__backHomepage {
    background-color: transparent;
    padding: 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.6rem;
    flex-shrink: 0;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    color: whitesmoke;
}
.show-results__clear {
    /* color: var(--textColor); */
    background-color: rgb(254 109 112);
    box-shadow: var(--btn-check-shadow);
}
.examLink,
.show-results__backHomepage {
    /* color: var(--textColor); */
    background-color: rgb(97, 182, 97);
    box-shadow: var(--btn-check-shadow);
}

/*  */

/* ========================================= */
/* Modal */

.modalNote__header {
    font-size: 2rem;
    margin-bottom: 20px;
}

.modalNote__title {
    word-spacing: 2px;
    margin-bottom: 20px;
    font-size: 1.7rem;
}

/* ========================================= */

/* Popzy */

.popzy__close {
    display: none;
}

.popzy__content {
    min-height: 50px;
    line-height: 150%;
}

.lychiModal-cancel,
.lychiModal-continue {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.8rem;
}

.lychiModal-cancel {
    border-color: rgb(254 109 112);
    color: rgb(254 109 112);
}
.lychiModal-continue {
    color: rgb(84, 160, 84);
    border-color: rgb(84, 160, 84);
    box-shadow: var(--btn-btn);
}

/* ================== */
/* Exam note Modal */
.lychiExamNote {
    background-color: var(--background);
    color: var(--textColor);
}

.lychiExamNote__header {
    margin: auto;
    font-size: 2rem;
    font-weight: 600;
    padding: 10px;
    color: white;
    background-color: rgb(97, 182, 97);
    box-shadow: var(--btn-check-shadow);
    opacity: 0.9;
    margin-bottom: 20px;
}

.lychiExamNote__h1 {
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.lychiExamNote__subtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

.lychiExamNote__list {
    margin-left: 10px;
}

.lychiExamNote__item {
    font-size: 1.5rem;
    margin-bottom: 10px;
    list-style: circle;
}

.lychiExamNote__item span {
    display: inline-block;
    font-size: 1.4rem;
    font-style: italic;
    padding: 5px;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
}

.lychiExamNote__item::before {
    content: " ➡   ";
}

/* ================ */

.user-setting {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: var(--block-shadow);
    margin: 20px 0;
    background: var(--background);
    user-select: none;
}

.user-setting__item {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.user-setting__item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0) saturate(100%) invert(86%) sepia(73%) saturate(4558%)
        hue-rotate(171deg) brightness(91%) contrast(98%)
        drop-shadow(3px 2px 3px rgba(115, 115, 115, 0.2));
}

/* ========================================= */
/* Language */

.langSet {
    position: absolute;
    z-index: 1;
    bottom: -70px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: var(--background);
    box-shadow: var(--block-shadow);
}
.langSet.hidden {
    opacity: 0;
}

.langSet__item {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
}
.langSet__item img {
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(3px 2px 3px rgba(206, 97, 97, 0.5));
}

/* ================== landing */

.article {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    position: relative;
    padding: 25px;
    border-radius: 10px;
    box-shadow: var(--block-shadow);
    margin: 20px 0;
    background-color: var(--background);
}

/* .examLink {

} */

.article-content {
    margin-bottom: 40px;
}

.sub-text {
    color: var(--subText);
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 70px;
}


.memory-section {
    max-width: 800px;
    width: 100%;
    color: var(--text-color);
    opacity: .7;
}

.section-title {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: 800;
}

/* GOT */

.card {
    background: var(--bg-card);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-bottom: 25px;
    border-left: 5px solid var(--accent-color);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon {
    font-size: 2rem;
    margin-right: 15px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0;
    margin-bottom: 10px;
}

.card-text {
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 15px;
}

.highlight {
    font-weight: bold;
    color: var(--accent-color);
}

/* Khối Ví dụ */
.example-box {
    background-color: var(--bg-example);
    padding: 15px;
    border-radius: 8px;
    border: 1px dashed #d3c5a3;
    font-style: italic;
    line-height: 1.5;
}

.example-title {
    font-weight: bold;
    color: #8a6d3b;
    display: block;
    margin-bottom: 5px;
    font-style: normal;
}

/* Thanh tiến trình lãng quên */
.stat-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 01.4rem;
}
.progress-bar {
    height: 8px;
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}
.progress-fill {
    height: 100%;
    background: var(--accent-color);
    border-radius: 4px;
}

ul.bullet-points {
    list-style-type: none;
    padding-left: 0;
}
ul.bullet-points li::before {
    content: "•";
    color: var(--accent-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


