html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* =================================== */

html {
    font-size: 62.5%;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1.6rem;
}

.body-wrap {
    width: min(95vw, 1000px);

    margin: 30px auto;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 1px rgb(233, 83, 83);
}

.header img {
    width: 100px;
    filter: drop-shadow(3px 2px 3px rgba(206, 97, 97, 1));
}

/* =================== 
{
    filterBlock: `filterzy-block`,
    filterTitle: `filterzy-title`,
    filterLabel: `filterzy-label`,
    filterSubmitButton: `filterzy-submit-btn`,
    filterCancelButton: `filterzy-cancel-btn`,
    filterRequired: `filterzy-required`,
},

    quizBlock: `quizzy-block`,
    quizImg: `quizzy-img`,
    quizQuestion: `quizzy-question`,
    quizUserAnswer: `quizzy-userAnswer`,
    quizCorrectAnswer: `quizzy-correctAnswer`,
    quizAnswers: `quizzy-answers`,
    quizAnswer: `quizzy-answer`,
    quizDelete: `quizzy-delete`,
    quizSubmit: `quizzy-submit`,
*/

.filterzy,
.quizBoard,
.show-results {
    position: relative;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}
.filterzy {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.filterzy-block {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    position: relative;
}
/* .filterzy-block.filterzy-required .filterzy-title::before {
    content: "";
    width: 20px;
    height: 20px;

    background-image: url(./assets/icon/cross-close-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
} */

.filterzy-block.filterzy-required .filterzy-title::after {
    content: "| *";
    font-style: italic;
    font-size: 1.4rem;
    color: tomato;
}

.filterzy-title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.7rem;
}

.filterzy-label {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.1s;
    opacity: 0.5;
}

/* 
border-color: rgb(228 44 85);
    color: rgb(254 109 112);

    green
    rgb(102, 155, 102);
*/

.filterzy-label:has(:checked) {
    border-color: rgb(97, 182, 97);
    color: white;
    background-color: rgb(97, 182, 97);
    opacity: 1;
    box-shadow: -2px 2px 2px 0px rgba(67, 67, 67, 0.6);
}

.filterzy-submit-btn,
.filterzy-cancel-btn {
    background-color: transparent;
    padding: 12px 15px;
    border: 0;
    margin-top: 20px;
    font-size: 2rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: rgb(254 109 112);
    box-shadow: -2px 2px 2px 0px rgba(67, 67, 67, 0.6);
}
.filterzy-cancel-btn {
    margin-left: auto;
}

/* 
    quizBlock: `quizzy-block`,
    quizImg: `quizzy-img`,
    quizQuestion: `quizzy-question`,
    quizUserAnswer: `quizzy-userAnswer`,
    quizCorrectAnswer: `quizzy-correctAnswer`,
    quizAnswers: `quizzy-answers`,
    quizAnswer: `quizzy-answer`,
    quizDelete: `quizzy-delete`,
    quizSubmit: `quizzy-submit`,

*/

.quizzy-block {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

/* .quizzy-block::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 50%;
    background-color: rgb(205, 205, 205);
} */

.quizzy-question {
    font-size: 1.8rem;
    flex-basis: 100%;
    flex-shrink: 0;
    padding: 11px 15px 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 150%;
}

.quizzy-userAnswer {
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-basis: 70%;
    flex-grow: 1;
    min-height: 40px;
    padding: 8px 15px;
    border-left: 1px solid gray;
    margin-right: 2px;
    margin-top: 3px;
    background-color: rgba(239, 239, 239, 0.527);
    font-size: 2.4rem;
    font-weight: 600;
}
.incorrect.quizzy-userAnswer::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url(./assets/icon/cross-close-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.correct.quizzy-userAnswer::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url(./assets/icon/check-mark-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.incorrect.quizzy-userAnswer ~ .quizzy-answers,
.correct.quizzy-userAnswer ~ .quizzy-answers {
    opacity: 0.2;
}

.quizzy-correctAnswer.show {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    padding: 8px 15px;
    border-left: 1px solid rgb(93, 158, 91);
    margin-bottom: 3px;
    background-color: rgba(132, 217, 129, 0.6);
    font-size: 2.4rem;
    font-weight: 600;
}

.quizzy-delete {
    flex-grow: 1;
    padding: 5px 10px;
    border: 0;
    background-color: rgba(255, 99, 71, 0.85);
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 3px;
}

.quizzy-answers {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-shrink: 0;
    font-size: 3rem;
    margin-top: 10px;
}

.quizzy-answer {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.2s;
}

.quizzy-answer:has(:checked) {
    border-color: rgb(102, 155, 102);
    color: rgb(84, 160, 84);
    opacity: 1;
    box-shadow: 0 0 1px 0px;
}

.quizzy-submit {
    color: white;
    background-color: rgba(255, 99, 71, 0.9);
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;

    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

/* .scrollToHead  */

.scrollToHead {
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 30px;
    height: 80px;
    width: 80px;
    background-color: transparent;
    border: 1px solid rgba(255, 99, 71, 0.8);
    border-radius: 50%;
    font-size: 3.5rem;
    cursor: pointer;
    opacity: 0.7;
}
.scrollToHead img {
    width: 50%;
    height: 50%;
}

/* ============================= */
/* show results */

.show-results__score {
    font-weight: 700;
    font-size: 4.5rem;
}

.show-results__messages {
    margin: 15px 0;
}

.show-results__subtitle {
    margin-bottom: 8px;
}

.show-results__action {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    flex-wrap: wrap;
}

.show-results__clear,
.show-results__backHomepage {
    background-color: transparent;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.6rem;
    flex-shrink: 0;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}
.show-results__clear {
    color: tomato;
    border-color: rgb(252, 112, 87);
}
.show-results__backHomepage {
    color: rgb(84, 160, 84);
    border-color: rgb(84, 160, 84);
}

/* ========================================= */
/* Popzy */

.popzy__close {
    display: none;
}

.popzy__content {
    min-height: 50px;
    line-height: 150%;
}

.lychiModal-cancel,
.lychiModal-continue {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.8rem;
}

.lychiModal-cancel {
    border-color: rgb(254 109 112);
    color: rgb(254 109 112);
}
.lychiModal-continue {
    color: rgb(84, 160, 84);
    border-color: rgb(84, 160, 84);
}

/*  */

/* ========================================= */
/* Modal */

.modalNote__header {
    font-size: 2rem;
    margin-bottom: 20px;
}

.modalNote__title {
    word-spacing: 2px;
    margin-bottom: 20px;
    font-size: 1.7rem;
}
